<html>
    <head>
        <meta name="viewport" content="width=device-width">
        <meta name="viewport" content="initial-scale=1.0">
        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-TKS37F6');</script>
        <!-- End Google Tag Manager -->
        <title>Celgene Myeloma Marketing Ecosystem</title>
        <link href="https://fonts.googleapis.com/css?family=Barlow+Condensed" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
        
      <link href="assets/styles/style_main.css" rel="stylesheet" type="text/css" />

    </head>
    <body> 
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TKS37F6"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->

        <div id="app">


            <div v-if="show" class="scrodal_container">
                <div v-for="item in holdItem" class="scrodal_content" v-bind:id="item['fields']['Celgene Tactic ID']" v-show="show">
                    {{ getAssetContent(item) }}
                <button @click="killScrotie">X</button>
            </div>

            </div>

            
            <img src="assets/images/logo.png" title="Beacon Healthcare Communications">
            <h1>Lenny Myeloma Marketing Ecosystem</h1>

            <button v-on:click="say('what')">Say what</button>




            <transition-group name="list" tag="ul">
                <li v-for="item in items" v-bind:key="item" class="list-item">
                    <div>
                        <table width="100%">
                            <tr>
                                <!-- BRAND LOGO -->
                                <td align="left"><img :src="item['fields']['Brand Logo'][0]['url']" alt="" v-if="item['fields']['Brand Logo']" class="brandthumb"></td>
                                <!-- AUDIENCE -->
                                <td align="right"><img v-bind:src="getHCPIcon()" title="Healthcare Professional" v-if="checkAud_HCP(item)" class="aud-icon">
                            <img v-bind:src="getPATIcon()" title="Patient" v-if="checkAud_Patient(item)" class="aud-icon"></td>
                            </tr>
                        </table>
                        <!-- PACT CODE -->
                        <p class="pactcode"><span class="itemlabel">PACT:</span> {{ item['fields']['Celgene Tactic ID'] }}</p>
                        <!--  ENABLE TO SHOW MISSING ASSETS FROM CELGENE
                            <p class="status">
                                <span class="itemlabel">Status:</span> <span v-if="checkStatus(item)" class="found_items"></span>
                                <span v-else class="missing_items">{{ item['fields']['Beacon Status'] }}</span>
                            </p>
                        -->
                        <!-- IMAGE -->
                        <div class="imgbox"><img :src="item['fields']['Thumbnail'][0]['thumbnails']['large']['url']" alt="" v-if="item['fields']['Thumbnail']" width="150"></div>
                        <!-- PROMO STATUS AND TACTIC TYPE, CONCATINATED FOR DISPLAY -->
                        <p class="tactic"> {{ item['fields']['Promo Status'] }} {{ item['fields']['Tactic'] }}</p>
                        <!-- ASSET NAME -->
                        <h3>{{ item['fields']['Name'] }}</h3>
                        <!-- BUTTON  -->
                        <button v-on:click="popScrotie(item)">View Me</button>
                        </p>
                    </div>
                </li>
            </transition-group>




        </div>
        <!-- close app-->


        <script type="text/javascript" src="https://unpkg.com/vue"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.min.js"></script>
         <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="scripts/main.js"></script>
    </body>
</html>