/* style for celgene myeloma */


body, ul, li{
    font-family: 'Barlow Condensed', 'Helvetica Condensed', 'Arial Condensed', Helvetica, Arial,  sans-serif;

}
body{
  background-color: #DDDDDD;
}

h1 {
  margin-left: 1.1em;
}

/*stuff for the canvas visjs*/

#mynetwork {
  width: 90%;
  height: 90%;
  border: 1px solid lightgray;
}
code {
  font-size: 14px;
  background: #dddddd;
}
p {
  max-width: 600px;
}
.indented {
  margin-left: 30px;
}
.sep {
  height: 1px;
  width: 35%;
  margin-left: 40px;
  background-color: #dddddd;
}


.fade-enter-active, .fade-leave-active {
  transition: opacity .9s
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0
}





/*Stuff for video bbackground */

.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}
.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
}
.video-container video.fillWidth {
    width: 100%;
}



/*styles for each card*/
/*styles for each card*/

.list-item  h3{
	margin-top: 5px;
	font-size: 1.4em;
}
.list-item  p{
	font-family: 'Barlow Condensed', 'Helvetica Condensed', 'Arial Condensed', Helvetica, Arial,  sans-serif;
	margin-top: 4px;
}
.list-item  p:last-child{

  margin-top: 0px;
}
.list-item  p.status, .list-item  p.tactic{
	font-size: .85em;
  color: #222;
  margin-bottom: 0px;

}
.label {
	color: #222;

	font-weight: bold;
}
.list-item {
  display: block;
  float: left;
  margin-bottom: 10px;
  margin-right: 10px;
  border: 1px solid #cccccc;
  background-color: #ffffff;
  min-height: 300px;
  max-height: 300px;
  overflow: hidden;
  max-width: 200px;
  padding: 0px 5px 10px 5px;
  -webkit-box-shadow: 6px 6px 34px -5px rgba(119,119,119,0.62);
  -moz-box-shadow: 6px 6px 34px -5px rgba(119,119,119,0.62);
  box-shadow: 6px 6px 34px -5px rgba(119,119,119,0.62);
  z-index: 10;
}

.imgbox{
	height: 120px;
	width: 150px;
	overflow: hidden;
	margin: 0px;
	display: block;
	text-align: center;
	background: linear-gradient(#044B92, white);
}

.pactcode{
  font-size: 1.25em;
  margin-bottom: 0px;
}
.found_items{
	color: green;
}
.missing_items{
	color: red;
}
.itemlabel{color: #CCCCCC;}
.brandthumb{
	height: 40px;
	max-height: 40px;
	max-width:  100px;
}
.aud-icon{
  height: 18px;
}


/*animation for the cards*/

.list-enter-active, .list-leave-active {
  transition: all 1s;
}
.list-enter, .list-leave-to /* .list-leave-active below version 2.1.8 */ {
  opacity: 0;
  transform: translateY(30px);
}

